<settings>
	<servers>
    <server>
      <id>connectedapp</id>
      <username>~~~Client~~~</username>
      <password>1a0391377082496e988978b53e19fd43~?~1b8Da2C319454025861B6Af423567606</password>
    </server>
	<server>
	    <id>credentials</id>
		<username>${env.PLATFORM_USERNAME}</username>
		<password>${env.PLATFORM_PASSWORD}</password>
    </server>	
	</servers>
</settings>
